<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header-css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" th:href="@{/css/main.css}"/>
        <link rel="stylesheet" th:href="@{/css/signin.css}"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </div>
</head>
<body>
<div th:fragment="headerFragment">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home Page</a>
            </li>
            <li class="nav-item active" th:if="${@userContextService.userName()}">
                <a class="nav-link" href="/farms">Farms</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" th:if="!${@userContextService.userName()}" href="/registration">Register</a>
            </li>
            <li class="nav-item block">
                <a class="nav-link" th:if="${@userContextService.userName()}" href="/editAccount"
                   th:utext="${@userContextService.userName()}"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:if="${@userContextService.userName()}" href="/logout">Logout</a>
            </li>
            <li>
<span th:if="${@userContextService.userName()}">
<div style="float: right" id="openweathermap-widget">
    <link href="//openweathermap.org/themes/openweathermap/assets/vendor/owm/css/openweathermap-widget-right.min.css"
          rel="stylesheet">
    <div class="widget-right widget-right--type5 widget-right--brown">
        <div class="widget-right__layout widget-right__layout--brown">
            <div class="widget-right-card">
                <div class="widget-right__title"></div>
                <div class="widget-right__description"></div>
            </div>
            <img id="weather-image" src=""
                 width="35"
                 class="weather-right__icon weather-right__icon--type5 weather-right__icon--brown">
            <table class="weather-right-card">
                <tbody>
                <tr class="weather-right-card__items">
                    <td class="weather-right-card__item weather-right-card__temperature-min">
                        min<span>°C</span></td>
                    <td class="weather-right-card__item weather-right-card__temperature-max">
                        max<span>°C</span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<p style="float: right;color: white" id="weather"></p>
</span>
            </li>
        </ul>
    </nav>
</div>


</body>
</html>